/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Ejercicio 3 */
.flex-container{
    display: flex;
   
}
.item1{
    flex-grow: 1;
     background-color: aquamarine;
}
.item2{
    flex-grow: 2;
     background-color: yellow;
}
.item3{
    flex-grow: 4;
     background-color: blue;
}