.header {
  display: flex;
  justify-content: space-between;
  background-color: #b5f4ff;
  color: black;
  align-items: center;

}

.nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-right: 20px;

  text-decoration: none;

}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.titulo {
  margin-left: 20px;
}